# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

# The NEXT_PUBLIC_HOSTED_URL is used to generate invitation links and billing return URLs
# It should be the hostname of your application with protocol (e.g. https://tryanything.xyz)
NEXT_PUBLIC_ANYTHING_API_URL=http://localhost:3001
NEXT_PUBLIC_APP_URL=http://localhost:3000

# VAPI_PUBLIC_KEY is used to authenticate with VAPI to do web chats
NEXT_PUBLIC_VAPI_PUBLIC_KEY=your-vapi-public-key
