@tailwind base;
@tailwind components;
@tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* For ShadCN Charts via Recharts */
  @layer base {
    :root {
      --success: 120 58% 40%;
      --failure: 0 84% 60%;
      --chart-1: 12 76% 61%;
      --chart-2: 173 58% 39%;
      --chart-3: 197 37% 24%;
      --chart-4: 43 74% 66%;
      --chart-5: 27 87% 67%;
      --chart-6: 300 50% 50%;
      --chart-7: 100 40% 40%;
    }
  
    .dark {
      --success: 120 58% 40%;
      --failure: 0 84% 60%;
      --chart-1: 220 70% 50%;
      --chart-2: 160 60% 45%;
      --chart-3: 30 80% 55%;
      --chart-4: 280 65% 60%;
      --chart-5: 340 75% 55%;
      --chart-6: 310 60% 50%;
      --chart-7: 110 50% 45%;
    }
  }
  

/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .display {
      @apply font-display text-[80px] font-semibold leading-[88px] tracking-[-2%];
    }
    .h1 {
      @apply font-display text-[56px] font-semibold leading-[64px] tracking-[0%];
    }
    .h2 {
      @apply font-display text-[40px] font-semibold leading-[48px] tracking-[0%];
    }
    .h3 {
      @apply font-display text-[38px] font-semibold leading-[48px] tracking-[-0.75%];
    }
    .h4 {
      @apply font-display text-[32px] font-semibold leading-[40px] tracking-[-0.2%];
    }
    .h5 {
      @apply font-sans text-[16px] font-bold uppercase leading-[20px] tracking-[5%];
    }
    .h6 {
      @apply font-sans text-[14px] font-semibold  uppercase leading-[16px] tracking-[5%];
    }
    .body-xl {
      @apply font-sans text-[24px] font-normal leading-[36px] tracking-[0%];
    }
    .body-l {
      @apply font-sans text-[20px] font-normal leading-[32px] tracking-[-0.1%];
    }
    .body-l-medium {
      @apply font-sans text-[20px] font-medium leading-[32px] tracking-[-0.1%];
    }
    .body-l-semibold {
      @apply font-sans text-[20px] font-semibold leading-[32px] tracking-[-0.1%];
    }
    .body {
      @apply font-sans text-[16px] font-normal leading-[24px] tracking-[0%];
    }
    .body-medium {
      @apply font-sans text-[16px] font-medium leading-[24px] tracking-[0%];
    }
    .body-semibold {
      @apply font-sans text-[16px] font-semibold leading-[24px] tracking-[0%];
    }
    .caption {
      @apply font-sans text-[14px] font-normal leading-[20px] tracking-[0%];
    }
    .caption-medium {
      @apply font-sans text-[14px] font-medium leading-[20px] tracking-[0%];
    }
    .caption-semibold {
      @apply font-sans text-[14px] font-semibold leading-[20px] tracking-[0%];
    }
    .caption-s {
      @apply font-sans text-[12px] font-normal leading-[16px] tracking-[0%];
    }
    .caption-s-medium {
      @apply font-sans text-[12px] font-medium leading-[16px] tracking-[0%];
    }
    .caption-s-semibold {
      @apply font-sans text-[12px] font-semibold leading-[16px] tracking-[0%];
    }
  }
   */